body {
    background-color: #fcfae6;
    font-size: 18pt;
    font-family: verdana;
    margin: 0;
}

article {
    background-color: #cbeff4;
    width: 780px;
    margin: 0 auto;
    border: 2px dashed green;
    padding: 30px;
    border-radius: 50px 100px 10px 0;
    box-shadow: 5px 5px 5px black;
}

h2 {
    margin: 0;
    text-align: center;
}

p {
    text-align: justify;
}